@import url("https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@400;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-helvetica-neue: "Helvetica Neue";

  /* font sizes */
  --font-size-base: 1rem;
  --font-size-xl: 1.25rem;

  /* Colors */
  --primary-white: #fff;
  --color-gainsboro: rgba(217, 217, 217, 0.1);
  --kinetic-researcher: #255ed3;

  /* Paddings */
  --padding-sm: 0.875rem;
}
